* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

  article {
      background: linear-gradient(45deg, #240090, #190061, #0c0032, #0a041f);
  }

  /*Nav Bar*/
#header-img {
    width: 5%;
    display: block;
    margin: 10px 20px 10px 20px
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0);
    position: fixed;
    z-index: 99;
}

nav {
    padding-right: 30px;
}

nav a {
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    transition: 0.5s all;
}

nav a:hover {
    color: red;
    text-decoration:overline;
    text-decoration-color: red;
}

a {
    text-decoration: none;
}

.space {
    background-color: rgba(0, 0, 0);
}
/*Nav Bar*/

/*Form*/
form {
    padding: 40px 0px 40px 0px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://images8.alphacoders.com/525/thumb-1920-525193.jpg);
    
}

#email {
    margin: 20px 0px 20px 0px;
    padding: 20px 50px 20px 50px;
    font-size: x-large;
    border-radius: 10px;
    background-color: #3500d3;
}

#submit {
    font-size: x-large;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3500d3;
    transition: 0.5s all;
}

#submit:hover {
    background-color: #240090;
    font-size: xx-large;
}
/*Form*/

/*Caracteristics*/
h2 {
    text-align: center;
    font-size: xx-large;
}

ul li {
    text-align: center;
    font-size: x-large;
    padding: 20px 0px 20px 0px;
}

.list-title {
    padding-top: 40px;
}

.list-img {
    width: 20%;
    height: 50%;
    position:absolute;
    top: 500px;
    left: 100px;
    z-index: 0;
    border-radius: 10px;
    box-shadow: black 10px 10px;
}
/*Caracteristics*/

/*Video*/
.video {
    text-align: center;
    margin-bottom: 50px;
}
.video-title {
    margin: 20px 0px 30px 0;
}

.video-frame {
    border-radius: 10px;
    box-shadow: black 10px 10px;
}
/*Video*/

/*Shop*/
.card {
    width: 50%;
    margin: 5px;
    border-radius: 10px;
}

.prod {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    border-style: solid;
    background-color: #0c0032;
    border-radius: 10px;
    margin: 10px 0px 30px 0px;
    border-color: black;
    box-shadow: black 20px 20px;
}

.store {
    justify-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    column-gap: 10px;
    color: white;
    
    
}

.prod p button {
    width: 100%;
    font-size: large;
    padding: 10px 20px 10px 20px;
    letter-spacing: 3px;
    color: white;
    background-color: #3500d3;
    border-radius: 10px;
    border-color: #3500d3;
    transition: 0.5s all;
    cursor: pointer;
    margin-top: 10px;
}

.prod p button:hover {
    background-color: #240090;
}
.store-title {
    margin: 50px 0 30px 0;
    color: white;
}
/*Shop*/


/*Footer*/
footer{
    margin-top: 0px;
    background-color: #282828;
}

table tr td {
    padding: 20px;
}

footer p {
    padding: 20px
}
/*Footer*/

@media screen and (max-width:1000px) {
.list-img {
    display: none;
}

}

@media screen and (max-width:728px) {
    .container {
        width: 100%;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0);
        
    }
    nav a {
        padding: 6px;
        margin: 0;
    }
    #header-img {
        display: block;
    }
    .store {
        justify-items: center;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 10px;
        color: white;
    }

    .video-frame {
        width: 90%;
    }
}
